#app{
    background-color: #191825;
    margin-top: 5%;
    margin-left: 20%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    min-width: 100px;
    /* max-width: 800px; */  /* to allow for text to expand when hidden!*/
}

#title{
    font-size: 64px;
    margin-bottom: 32px;
    color: #F11A7B;
}

#instructions{
    width: 500px;   
    font-size: 20px;
    margin-bottom: 5px;
}   

#inputText{
    width: 500px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 32px;
    font-size: 25px;
    padding: 10px;
    border-radius: 1%;
    resize: none;
    background-color: rgb(233, 232, 228);
}

#textArea {
    /* min-width: 500px; */
    max-width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    font-size: 18px;

    margin-top: 10px;
    background-color: antiquewhite;
    color: black;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.word {
    color: blueviolet;
}
