#app{
    /* background-color: #191825; */
    background-color: #EAD6B2;
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    min-width: 100px;
    /* max-width: 800px; */  /* to allow for text to expand when hidden!*/
    background-image: url("background.png");
    background-position-x: -300px;
    background-position-y: 25%;
    background-repeat: no-repeat;
}

#title{
    font-size: 64px;
    margin-bottom: 32px;
    color: #F11A7B;
}

#instructions{
    width: 500px;   
    font-size: 20px;
    margin-bottom: 5px;
}   

#inputText{
    width: 500px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 32px;
    font-size: 25px;
    padding: 10px;
    border-radius: 1%;
    border-color: rgb(233, 232, 228);
    resize: none;
    background-color: rgb(233, 232, 228);
}

#textArea {
    /* min-width: 500px; */
    max-width: 1500px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-top: 10px;
    /* background-color: antiquewhite; */
    color: black;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.word {
    color: blueviolet;
}

.darkText{
    color: #191825;
}