<!doctype html>
<title>learning</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='main_script.js') }}"></script>

<body id="app">
    <h4 id="title"> word hide </h4>
    <div id="instructions"> &centerdot; enter text here (max 8 words/line)</div>
    <textarea id="inputText"></textarea>
    <div id="instructions"> &centerdot; the same text will appear below </div>
    <div id="instructions"> &centerdot; click on any word to hide it</div>
    <div id="textArea"></div>
    <!-- ♡ -->
</body>